root {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: rgb(242, 232, 225);
    font-family: 'Mulish', sans-serif;
    height: 100%;
    padding: 2rem;
}

a {color: rgb(75, 76, 75);
}
#gridTitle {
    font-weight: bolder;
    text-align-last: right;
    text-transform: uppercase;
}

[colorValue~="default"] {
    color: #6B8F9E;
}

[colorValue~="void"] {
    color: #6B8F9E;
}

[colorValue~="arc"] {
    color: #6B8F9E;
}

[colorValue~="solar"] {
    color: #6B8F9E;
}

.card-header {
    background-color: rgb(201, 221, 216);
    color: rgb(75, 76, 75);
}

.card-body {
    background-color: rgb(237, 220, 206);
    color: rgb(75, 76, 75);
}

.btn-secondary {
    background-color: rgb(180, 201, 200);
    color: rgb(75, 76, 75);
}

.gridStyle {
    border: 0.25rem solid #28373E;
}

a[class~="active"] {
    font-weight: bold;
}

[blockValue~="deadend"] {
    background-image: url("img/skeleton.png");
}


[blockValue~="path"],
[blockValue~="deadend"] {
    background-color: rgb(31, 139, 96);
}

[blockValue~="wall"] {
    background-image: url("img/fire.png");
    background-color: #FBD437;
}

[blockValue~="step"] {
    background-image: url("img/pawprint.png");
    background-color: rgb(31, 139, 96);
}

[blockValue~="step"],
[blockValue~="path"],
[blockValue~="wall"],
[blockValue~="deadend"] {
    background-repeat: no-repeat;
    background-position: center;
}